@media(max-width: 1280px){
    .informacoes{
        margin-left: 5%;
    }
}

@media(max-width: 880px){
    .informacoes{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .informacoes p{
        text-align: center;
    }
}

@media(max-width: 720px){
    .menu-lateral ul{
        position: fixed;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        height: 80px;
        left: 0;
        bottom: 0;
    }

    .informacoes p{
        max-width: 70%;
    }

    .conteudo{
        justify-content: space-evenly;
    }   
}

@media (max-width: 425px){
    .carrossel{
        height: 100%;
    }

    .carrossel .imagem{
        height: 100%;
    }

    main::after{
        min-width: 100%;
        min-height: 100%;
    }

    .informacoes .logo {
        max-width: 350px;
    }

    .informacoes p{
        font-size: 22px;
        max-width: 80%;
    }
    
    .conteudo{
        margin-top: 0;
        padding-top: 0;
    }
}

@media (max-width: 380px){
    .informacoes .logo{
        max-width: 250px;
        margin-bottom: 75px;
    }

    .conteudo{
        justify-content: start
    } 

    .informacoes p{
        font-size: 18px;
        line-height: 22px;
        max-width: 80%;
        margin-bottom: 75px;
    }
}